*.pyc

# pycharm
.idea/*

# images
*.jpg
*.png

# sql
*.sql

# docker volumes
volumes/*

# env and virtual env
envnon/*
venv/*
blogenv/*
.env

# static files
core/staticfiles/*
nonliteral/core/media

.coverage

