{% load meta %}
<!DOCTYPE html>
<html lang="en">
    <head {% meta_namespaces %}>
        {% include 'meta.html' %}
        <title>nonliteral</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap-grid.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
        </script>
        <script type="application/javascript" src="{% static '/JS/functions.js' %}"></script>
    </head>
    <body>
        <a href="#" class="invisible_box"></a>
        {% include 'header.html' %}
        {% include 'sidebar.html' %}
        <main>
            <div class="container-fluid">
                <div class="row">
                <p id="version">v 0.101</p>
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </main>
        {% include 'footer.html' %}
    </body>
</html>