{% extends "base.html" %}

{% block meta %}
    {% include 'meta.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-9" id="blog">
                {% for post in blog_posts %}
                <div class="posts">
                    <h1>{{ post.title }}</h1>
                    <div>
                        <p class="blog-time">{{ post.date_published | date:'H:i d-m-Y '}}</p>
                        <p class="blog-author">{{ post.author }}</p>
                    </div>
                    <div class="img-wrapper">
                        {% if post.image %}
                        <img class="blog-image" src="{{ post.image.url }}" align=left />
                        {% endif %}
                    </div>
                    <p class="blog-text">{{ post.text | safe }}</p>
                </div>
                {% endfor %}
                </div>
                <div class="col-xs-12 col-sm-3">
                    <h2>Latest news</h2>
                    {% for new in news %}
                    <div class="news-text-preview">
                        <h3>
                            <a class="news-title-preview" href="/">{{ new.title }}</a>
                            <p>{{ new.text | safe }}</p>
                        </h3>
                    </div>
                    {% endfor %}
                </div>

            <div class="pagination">
                <span class="step-links">
                    {% if post.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ news.previous_page_number }}">previous</a>
                    {% endif %}

                    {% if post.has_previous or post.has_next %}
                    <span class="current">
                        Page {{ post.number }} of {{ post.paginator.num_pages }}.
                    </span>
                    {% endif %}

                    {% if post.has_next %}
                        <a href="?page={{ news.next_page_number }}">next</a>
                        <a href="?page={{ news.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endblock %}