{% extends "base.html" %}
{% load leaflet_tags %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-9" id="event">
                <h2 class="col-12 events-main-title">Events</h2>
                {% if events %}
                    {% for event in events %}
                        <div class="events">
                            <h3 class="events-title">{{ event.name }}</h3>
                            <div class="blog-post-published d-xs-block">
                                <div class="col-xs-12 col-sm-2">
                                    <h6 class="event-time">Start - {{ event.start | date:'jS F Y h:s:i' }}</h6>
                                </div>
                                {% if event.end %}
                                <div class="col-xs-12 col-sm-2">
                                    <h6 class="event-time">End - {{ event.end | date:'jS F Y h:s:i' }}</h6>
                                </div>
                                {% endif %}
                            </div>
                            <div class="event-address"><p>{% if event.address %}{{ event.address }}{% endif %} {% if event.city %}{{ event.city }}{% endif %}</p></div>
                            <p class="blog-text">{{ event.description | safe }}</p>
                            {% if event.show_map %}
                                <button class="map-btn" id="map-btn-{{ event.id }}" onclick="showOnMap([{{ event.location }}], {{ event.id }})">Show on map</button>
                                <button class="hide-map-btn" id="map-btn-hide-{{ event.id }}" onclick="hideMap([{{ event.location }}], {{ event.id }})">Hide map</button>
                                <div class="leaflet-container" id="map-{{ event.id }}"></div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="events">
                        <h3 class="events-title">It's a bit uneventful at the moment.</h3>
                    </div>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-3">
                <h2>Latest news</h2>
                {% for new in news %}
                <div class="news-text-preview">
                    <h3>
                        <a class="news-title-preview" href="/">{{ new.title }}</a>
                        <p>{{ new.text | safe }}</p>
                    </h3>
                </div>
                {% endfor %}
            </div>

            <div class="pagination">
                <span class="step-links">
                    {% if post.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ news.previous_page_number }}">previous</a>
                    {% endif %}

                    {% if post.has_previous or post.has_next %}
                    <span class="current">
                        Page {{ post.number }} of {{ post.paginator.num_pages }}.
                    </span>
                    {% endif %}

                    {% if post.has_next %}
                        <a href="?page={{ news.next_page_number }}">next</a>
                        <a href="?page={{ news.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    <script>
        function showOnMap(coords, id) {
            $('#map-' + id).show();
            $('#map-btn-' + id).hide();
            $('#map-btn-hide-' + id).show();

            let map = L.map('map-' + id).setView(coords, 16);
            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
                    maxZoom: 18
                }).addTo(map);

            let marker = L.marker(coords).addTo(map);
        }

        function hideMap(coords, id) {
            $('#map-' + id).hide();
            $('#map-btn-' + id).show();
            $('#map-btn-hide-' + id).hide();
            $('.leaflet-container').hide();
        }

        $(document).ready(function (){
            $('.leaflet-container').hide();
            $('.hide-map-btn').hide();
            $('#map-btn-hide-' + id).hide();
        });
    </script>
{% endblock %}