{% extends "base.html" %}

{% block meta %}
    {% include 'meta.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" id="error">
                <div class="error-message">
                    <h2>Not feeling well at the moment.</h2>
                    <br>
                    <p>Try to go <a href="/">home</a> or come back another time.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}