
        <div id="menu" class="">
            <div class="col-1" id="menu-title">
                <h2 id="menu-title-heading">MENU</h2>
            </div>
            <div class="col-xs-12 col-md-2" id="menu-links">
                <nav role="navigation">
                    <a class="nav-link active" href="/">Home</a>
                    <a class="nav-link" href="/blog">Blog</a>
                    <a class="nav-link" href="/poetry">Poetry</a>
                    <a class="nav-link" href="/events">Events</a>
                    <a class="nav-link" href="/about">About</a>
                </nav>
            </div>
        </div>
