@font-face {
    font-family: Archivo;
    src: url('../fonts/Archivo-Regular.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: ToxTypewriter;
    src: url('../fonts/Tox Typewriter.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo', sans-serif;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

p, a {
    font-family: 'Roboto', sans-serif;
}

header,
footer {
    text-align: center;
}

.container-fluid {
    max-width: 1700px !important;
}

.main-title {
    font-size: 8em;
}

.break {
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    font-family: "ToxTypewriter", Helvetica, Arial, sans-serif;
}

/*sidemenu*/
#menu {
    display: -webkit-box;
    position: fixed;
    top: 10em;
    right: -28rem;
    transition: 1s ease-in-out;
    color: white;
    background-color: black;
    padding-top: 2em;
    padding-bottom: 2em;
    /*z-index: 1000;*/
}

@supports (-ms-ime-align:auto) {
    #menu {
        right: -26rem;
    }
}

@-moz-document url-prefix() {
    #menu {
        right: -23rem;
    }
}

#menu:hover {
    right: -15em;
}

#menu-title {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Roboto', sans-serif;
    right: -2em;
    padding-top: 1.25em;
}

.nav-link {
    color: white;
    background-color: black;
    font-size: 2em;
}

.nav-link,
.nav-link:hover {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.nav-link:hover {
    color: black;
    background-color: white;
}
/*end sidemenu*/

#news, #blog {
    width: 100%;
    display: inline-block;
}

.blog-image {
    max-width: 50%;
    padding-right: 1em;
    padding-bottom: 1em;
}

.blogpost-title-preview {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

.blogpost-lead-preview {
    font-size: 0.6em;
}

#version {
    padding-left: 15px;
}

@media only screen and (max-width: 768px) {
    /*sidemenu*/
    #menu {
        /*display: none;*/
        display: contents;
        position: inherit;
    }

    #menu-title {
        display: none;
    }

    .nav-link {
        padding: 8px;
        font-size: 1.5em;
    }
    /*end sidemenu*/
}

@media only screen and (max-width: 379px) {
    nav {
        display: grid;
    }

    #menu {

    }

    .blog-image {
        max-width: 100%;
    }
}
