@font-face {
    font-family: Archivo;
    src: url('../fonts/Archivo-Regular.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

h1 {
    font-family: 'Archivo', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

header,
footer {
    text-align: center;
}

.blog-image {
    max-width: 100%;
    padding-right: 1em;
    padding-bottom: 1em;
}

