@font-face {
    font-family: Archivo;
    src: url('../fonts/Archivo-Regular.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

h1 {
    font-family: 'Archivo', sans-serif;
}

p, a {
    font-family: 'Roboto', sans-serif;
}

header,
footer {
    text-align: center;
}

#menu {
    display: -webkit-box;
    position: absolute;
    top: 10em;
    background: white;
    right: -12em;
    transition: 1s ease-in-out;
}

#menu:hover {
    right: 0;
}

#menu-title {
    writing-mode: vertical-rl;
    text-orientation: upright;
    background: white;
    font-family: 'Roboto', sans-serif;
    right: -2em;
}

#news, #blog {
    width: 100%;
}

.blog-image {
    max-width: 100%;
    padding-right: 1em;
    padding-bottom: 1em;
}

